body{
	background-color: #efefef;
	font-family: "Helvetica", "Verdana";
	font-size: 14px;
}

.header_wrapper{
	width: 880px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0;
}

.logo a{
	color: #338dcf;
	float: left;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 2px;
	text-decoration: none;
}

#container{
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px 40px;
	border: solid 1px #bfbfbf;
}

#login_user_status {
	float: right;
}